<article class="max-w-[950px] m-auto my-8 uk-article">
  <div class="w-full max-w-2xl text-center m-auto mb-8">
    <%= image_tag "サムネイル.png", alt: "RUNTEQ.rb", class: "w-full rounded-lg shadow-lg" %>
  </div>

  <div class="text-center">
    <h2 class="text-2xl font-bold text-red-600">登壇応募は終了しました！</h2>
    <p class="text-lg text-gray-700">ご応募ありがとうございました！</p>
  </div>

  <div class="text-center">
    <p class="text-lg text-gray-500">タイムスケジュール発表までお待ち下さい</p>
  </div>
</article>
