<main>
  <article class="uk-article">
    <h1 class="uk-article-title">ログイン</h1>
    <p>※RUNTEQ生・卒業生・運営の方のみログインできます</p>

    <%= link_to "/auth/github", class: "uk-button uk-button-primary", data: { turbo: false } do %>
    <i class="fa-brands fa-github"></i>
    <span class="normal-case">GItHubでログイン</span>
    <% end %>
  </article>
</main>