<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-3xl font-bold mb-8 text-center">ユーザーページ</h1>

  <article class="bg-white shadow-lg rounded-xl p-6 mb-10 border border-orange-200">
        <%= render 'shared/user_show' %>
  </article>

  <article class="bg-white shadow-lg rounded-xl p-6 border border-orange-200">
    <h2 class="text-2xl font-semibold text-gray-700 mb-6">いいねした応募一覧</h2>

    <% if current_user.candidate_posts.any? %>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <% current_user.candidate_posts.each do |post| %>
        <%= render 'shared/post', post: post, detail_path: admin_post_path(post) %>
      <% end %>
    </ul>
    <% else %>
    <p class="text-gray-500">応募がありません。</p>
    <% end %>
  </article>
</div>