<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold text-gray-900 mb-6 text-center">ユーザー一覧</h1>
  <div class="overflow-hidden rounded-lg shadow-lg bg-white max-h-[500px] overflow-y-auto">
    <table class="w-full text-sm text-left text-gray-600">
      <thead class="text-xs uppercase bg-orange-500 text-white sticky top-0 z-10">
        <tr>
          <th scope="col" class="px-6 py-2 text-lg">アイコン</th>
          <th scope="col" class="px-6 py-2 text-lg">名前</th>
          <th scope="col" class="px-6 py-2 text-lg">ロール</th>
          <th scope="col" class="px-6 py-2 text-lg">X</th>
          <th scope="col" class="px-6 py-2 text-lg">ソーシャルポートフォリオ</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>